@model Proyek2_Bengkel.Models.SparePart

@{
    ViewData["Title"] = "Hapus Barang";
}

<h1>Hapus Data</h1>

<h3>Anda yakin ingin menghapus data ini?</h3>
<div>
    <h4>Data Barang</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartCategory.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Supplier.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Hapus Data" class="btn btn-danger" /> |
        <a asp-action="Index">Kembali ke Tabel</a>
    </form>
</div>
