@model Proyek2_Bengkel.Models.SparePart

@{
    ViewData["Title"] = "Rincian Barang";
}

<h1>Rincian Data</h1>

<div>
    <h4>Data Barang</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartCategory.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Supplier.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Ubah Data</a> |
    <a asp-action="Index">Kembali ke Tabel</a>
</div>
