@model IEnumerable<Proyek2_Bengkel.Models.ServiceDetail>

@{
    ViewData["Title"] = "Data Rincian Servis";
}

<h1>Rincian Servis</h1>

<p>
    <a asp-action="Create">Tambah Data</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Service)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SparePartId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Service.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SparePart.Name)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Rincian</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Hapus</a>
            </td>
        </tr>
}
    </tbody>
</table>
